@charset "UTF-8";
@import url(../../common/css/common.css);
@import url(reset_login.css);

#container .inner{width: 400px; margin: 0 auto; text-align: center; margin-top: 65px;}
#container .tit{font-size: 30px; margin-top: 65px; color: #000;}
#container .txt{font-weight: 300; line-height: 20px; margin-top: 20px;}

.login .login_form{margin-top: 30px; overflow: hidden;}
.login .login_form .log{width: 100%; height: 50px; border: 1px solid #ccc; box-sizing: border-box; position: relative;}
.login .login_form .log input{width: 100%; height: 100%; font-size: 16px; border: 0; position: absolute; left: 0; top: 50%; transform: translateY(-50%); padding: 0 15px; box-sizing: border-box;}
.login .login_form .log+.log{margin-top: 15px;}
.login .login_form .log.on{border: 1px solid #f20505;}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent;}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent;}

.login .login_form button{width: 100%; height: 60px; background-color: #f20505; border: 0; margin: 25px 0 15px;}
.login .login_form button>a{font-weight: bold; font-size: 18px; color: #fff;}
.login .login_form .save{float: left; color: #999;}
.login .login_form .save::before{content: ""; display: inline-block; width: 20px; height: 20px; background: url(../images/ico_idsave.png) no-repeat center; vertical-align: top; padding-right: 10px;}
.login .login_form .save.on{color: #333;}
.login .login_form .save.on::before{background-image: url(../images/ico_idsave_on.png);}
.login .login_form .find{float: right;}
.login .login_form .find a+a::before{content: ""; display: inline-block; width: 1px; height: 10px; background-color: #333; margin: 0 10px;}

.sing_up{margin-bottom: 65px;}
.sing_up .inner{background-color: #f8f8f8; padding: 40px 0;}
.sing_up h3{font-weight: 500; font-size: 18px; color: #000;}
.sing_up p{margin-top: 20px; line-height: 20px;}
.sing_up button{width: 320px; height: 50px; background-color: #b016f2; border: 0; border-radius: 25px; margin-top: 65px;}
.sing_up button>a{display: block;  border-radius: 25px; font-weight: bold; font-size: 18px; color: #fff;}
